body {
    background-color: rgb(237, 237, 238);
}
body h1 {
    text-align: center;
}
.block {
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.block div {
    width: 49%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-width: 0px;
    border-right-width: 0.5px;
    border-style: solid;
    border-color: #333;
}
.block div:last-child {
    border-right-width: 0px;
    border-left-width: 0.5px;
}
